{% if room_list %}
    <ul>
    {% for room in room_list %}
        <li><a href="{% url 'look:room_change' room.id %}">{{ room.text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No rooms are available.</p>
{% endif %}
