{{ room.text }}

{% if choices %}
    <ul>
    {% for choice in choices %}
        <li><a href="{% url 'look:room_change' choice.link.id %}">{{ choice.text }}</a></li>
    {% endfor %}
    </ul>
    <p>
     
{% else %}
    <p>No choices are available.</p>
{% endif %}

 Du hast eine andere Idee was Karla machen könnte?
 
 <form action="{% url 'look:room_change' room.id %}" method="post">
{% csrf_token %}

    {{form}}
    
    <input type="submit" value="Neue Option">
</form>