TODO wird zur zeit gar nicht benutzt.


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h1>Neue Wahl!</h1>

Karla ist hier:
<p>{{room.text}}<p>

<form action="{% url 'look:change' room.id %}" method="post">
{% csrf_token %}
<input type="textaerea" name="choice_text">
<input type="submit" value="change">
</form>